[submodule "frappe"]
	path = frappe
	url = https://github.com/frappe/frappe.git
[submodule "erpnext"]
	path = erpnext
	url = https://github.com/frappe/erpnext.git
[submodule "hrms"]
	path = hrms
	url = https://github.com/frappe/hrms.git
[submodule "payments"]
	path = payments
	url = https://github.com/frappe/payments.git
[submodule "raven"]
	path = raven
	url = https://github.com/frappe/raven.git
